{% schema %}
{
  "name": "Hero Gift Guide",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "logo_text",
      "label": "Logo Text",
      "default": "TISSO VISON"
    },
    {
      "type": "text",
      "id": "center_text",
      "label": "Center Text",
      "default": "Find your ideal Gift for your loved one"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Top Button Text",
      "default": "CHOOSE GIFT &rarr;"
    },
    {
      "type": "text",
      "id": "main_heading",
      "label": "Top Main Heading",
      "default": "The Gift Guide"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Discover Joy: Your Ultimate Holiday Gift Destination. Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season."
    },
    {
      "type": "text",
      "id": "shop_btn_text",
      "label": "Shop Button",
      "default": "SHOP NOW &rarr;"
    },
    {
      "type": "text",
      "id": "bottom_text",
      "label": "Bottom Bar Text",
      "default": "SUSTAINABLE, ETHICALLY MADE CLOTHES IN SIZES XXS TO 6XL"
    }
  ],
  "presets": [
    {
      "name": "Hero Gift Guide"
    }
  ]
}
{% endschema %}

{% comment %} Body code {% endcomment %}
<div class="hero-wrapper" style="background-image: url('{{section.settings.bg_image |  image_url }}');">
  {% comment %} top bar {% endcomment %}
  <div class="hero-top-bar">
    <div class="hero-box hamburger" onclick="toggleMenu()">*</div>
    <div id="mobile-menu" class="mobile-drawer">
      <div class="hero-box">{{ section.settings.center_text }}</div>

      {% comment %} Back to check {% endcomment %}
      <button class="hero-box hero-top-btn">
        {{ section.settings.btn_text }}
      </button>

    </div>
    <div class="hero-box hero-box-logo">
      {{ section.settings.logo_text }}
    </div>
    <div class="hero-box hero-center-text">
      {{ section.settings.center_text }}
    </div>
    <button class="hero-box hero-top-btn">
      {{ section.settings.btn_text }}
    </button>
  </div>

  {% comment %} Hero content {% endcomment %}
  <div class="hero-content">
    <h1 class="hero-title">{{ section.settings.main_heading }}</h1>
    <div class="hero-desc-box">
      <p>{{ section.settings.description }}</p>
    </div>
    <button class="hero-shop-btn">{{ section.settings.shop_btn_text }}</button>
  </div>

  <div class="hero-bottom-bar">
    {{ section.settings.bottom_text }}
  </div>
</div>

{% comment %} For Style {% endcomment %}
<style>
  .hero-wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: space-between;
  }
  .hero-top-bar {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 16px;
  }
  .hero-box {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    color: black;
    padding: 8px 16px;
  }
  .hero-box.hamburger {
    display: none;
    cursor: pointer;
    font-size: 20px;
  }
  .mobile-drawer {
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding-top: 10px;
  }
  .mobile-drawer.open{
    display: flex;
  }
  .hero-box-logo {
    font-weight: bold;
    font-size: 20px;
  }
  .hero-center-text {
    font-size: 12px;
    padding-top: 12px;
  }
  .hero-top-btn {
    background-color: yellow;
    cursor: pointer;
    border: none;
    width: 207px;
    height: 44px;
  }

  /* Main content */

  .hero-content {
    padding: 0 5%;
    max-width: 100%;
    margin-bottom: auto;
    position: absolute;
    bottom: 35%;
  }

  .hero-title {
    font-size: 4rem;
    font-weight: 900;
    color: black;
    display: inline-block;
    margin-bottom: 20px;
    line-height: 1;
  }

  .hero-desc-box {
    padding: 20px 0 20px 0;
    margin-bottom: 20px;
    font-size: 1.1rem;
    line-height: 1.5;
    white-space: normal;
    max-width: 400px;
  }

  .hero-shop-btn {
    background-color: rgb(31, 31, 31);
    color: white;
    border: none;
    padding: 15px 40px;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
  }

  /* Bottom bar */
  .hero-bottom-bar {
    background-color: white;
    text-align: center;
    padding: 12px;
    text-transform: uppercase;
    font-size: 14px;
    width: 100%;
  }

  /* For responsive mobile view */

  @media screen and (max-width: 768px) {
    .hero-top-bar {
      flex-direction: column;
      align-items: center;
      gap: 10px;
      padding: 15px;
    }
    .hero-box {
      width: 100%;
      text-align: center;
      font-size: 25px;
      padding: 10px;
    }
    .hero-top-btn,
    .hero-center-text {
      display: none;
    }
    /* MAIN CONTENT */
    .hero-title {
      font-size: 2.5rem;
      white-space: space;
      text-align: center;
      max-width: 90%;
    }
    .hero-content {
      bottom: 0;
      top: 16%;
      text-align: center;
    }
    .hero-bottom-bar {
      font-size: 10px;
      padding: 10px 5px;
    }
    .hero-shop-btn {
      margin-top: 50px;
    }
    .hero-box.hamburger {
      display: block;
    }
    .hero-top-bar{
        flex-wrap: wrap;
    }
    .mobile-drawer {
      display: block;
      background-color: red;
    }
    .hero-box:nth-child(2){
        flex-grow: 1;
        text-align: center;
    }
  }
</style>
<script>
    function toggleMenu(){
        var menu = document.getElementById('mobile-menu');
        var icon = document.querySelector('.hamburger');

        if(menu.classList.contains('open')){
            menu.classList.remove('open');
            icon.innerHTML = '*'
        }else{
            menu.classList.add('open');
            icon.innerHTML = 'x';
        }
    }
</script>
