{% schema %}
{
  "name": "Hero Gift Guide",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Top Background Image"
    },
    {
      "type": "image_picker",
      "id": "bg_image_2",
      "label": "Bottom Background Image"
    },
    {
      "type": "text",
      "id": "logo_text",
      "label": "Logo Text",
      "default": "TISSO VISON"
    },
    {
      "type": "text",
      "id": "center_text",
      "label": "Center Text",
      "default": "Find the ideal gift for your loved ones."
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Top Button Text",
      "default": "CHOOSE GIFT"
    },
    {
      "type": "text",
      "id": "main_heading",
      "label": "Main Heading",
      "default": "The Gift Guide"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Discover Joy: Your Ultimate Holiday Gift Destination. Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season."
    },
    {
      "type": "text",
      "id": "shop_btn_text",
      "label": "Shop Button",
      "default": "SHOP NOW"
    },
    {
      "type": "text",
      "id": "bottom_text",
      "label": "Bottom Bar Text",
      "default": "SUSTAINABLE, ETHICALLY MADE CLOTHES IN SIZES XXS TO 6XL"
    }
  ],
  "presets": [
    {
      "name": "Hero Gift Guide"
    }
  ]
}
{% endschema %}

<div class="hero-wrapper">
  <div class="bg-layer">
    <div class="bg-img top-img" style="background-image: url('{{ section.settings.bg_image | image_url }}');"></div>
    <div
      class="bg-img bottom-img"
      style="background-image: url('{{ section.settings.bg_image_2 | image_url }}');"
    ></div>
  </div>

  <div class="hero-top-bar">
    <div class="hero-box hamburger" onclick="toggleMenu()">☰</div>

    <div class="hero-box hero-box-logo">
      {{ section.settings.logo_text }}
    </div>

    <div class="hero-box hero-center-text desktop-only">
      {{ section.settings.center_text }}
    </div>
    <button class="hero-top-btn desktop-only">
      {{ section.settings.btn_text }}
      <svg width="27" height="12" viewBox="0 0 27 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.75 4.77298C0.335786 4.77298 -3.62117e-08 5.10877 0 5.52298C3.62117e-08 5.93719 0.335786 6.27298 0.75 6.27298L0.75 4.77298ZM26.2803 6.05331C26.5732 5.76041 26.5732 5.28554 26.2803 4.99265L21.5074 0.219677C21.2145 -0.0732163 20.7396 -0.0732163 20.4467 0.219677C20.1538 0.512571 20.1538 0.987444 20.4467 1.28034L24.6893 5.52298L20.4467 9.76562C20.1538 10.0585 20.1538 10.5334 20.4467 10.8263C20.7396 11.1192 21.2145 11.1192 21.5074 10.8263L26.2803 6.05331ZM0.75 6.27298L25.75 6.27298L25.75 4.77298L0.75 4.77298L0.75 6.27298Z" fill="#000"/>
      </svg>
    </button>

    <div id="mobile-menu" class="mobile-drawer">
      <div class="hero-box" style="text-align: center; font-size: 15px; font-weight: normal; text-transform: none;">
        {{ section.settings.center_text }}
      </div>
      <button class="hero-top-btn">
        {{ section.settings.btn_text }}
        <svg width="27" height="12" viewBox="0 0 27 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.75 4.77298C0.335786 4.77298 -3.62117e-08 5.10877 0 5.52298C3.62117e-08 5.93719 0.335786 6.27298 0.75 6.27298L0.75 4.77298ZM26.2803 6.05331C26.5732 5.76041 26.5732 5.28554 26.2803 4.99265L21.5074 0.219677C21.2145 -0.0732163 20.7396 -0.0732163 20.4467 0.219677C20.1538 0.512571 20.1538 0.987444 20.4467 1.28034L24.6893 5.52298L20.4467 9.76562C20.1538 10.0585 20.1538 10.5334 20.4467 10.8263C20.7396 11.1192 21.2145 11.1192 21.5074 10.8263L26.2803 6.05331ZM0.75 6.27298L25.75 6.27298L25.75 4.77298L0.75 4.77298L0.75 6.27298Z" fill="#000"/>
        </svg>
      </button>
    </div>
  </div>

  <div class="hero-content">
    <h1 class="hero-title">{{ section.settings.main_heading }}</h1>

    <div class="hero-desc-box">
      <p>{{ section.settings.description }}</p>
    </div>

    <button class="hero-shop-btn">
      {{ section.settings.shop_btn_text }}
      <svg width="27" height="12" viewBox="0 0 27 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.75 4.77298C0.335786 4.77298 -3.62117e-08 5.10877 0 5.52298C3.62117e-08 5.93719 0.335786 6.27298 0.75 6.27298L0.75 4.77298ZM26.2803 6.05331C26.5732 5.76041 26.5732 5.28554 26.2803 4.99265L21.5074 0.219677C21.2145 -0.0732163 20.7396 -0.0732163 20.4467 0.219677C20.1538 0.512571 20.1538 0.987444 20.4467 1.28034L24.6893 5.52298L20.4467 9.76562C20.1538 10.0585 20.1538 10.5334 20.4467 10.8263C20.7396 11.1192 21.2145 11.1192 21.5074 10.8263L26.2803 6.05331ZM0.75 6.27298L25.75 6.27298L25.75 4.77298L0.75 4.77298L0.75 6.27298Z" fill="#ffff"/>
      </svg>
    </button>
  </div>

  <div class="hero-bottom-bar">
    {{ section.settings.bottom_text }}
  </div>
</div>

<style>
  .hero-wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: sans-serif;
    overflow: hidden;
  }

  .bg-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
    flex-direction: column;
  }

  .bg-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .top-img {
    width: 100%;
    height: 50%;
  }

  .bottom-img {
    width: 60%;
    height: 50%;
    margin-left: auto;
    background-position: left center;
  }

  .hero-top-bar {
    display: flex;
    background-color: #f5f5f5;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 30px;
  }

  .hero-box {
    font-size: 22px;
    letter-spacing: 1px;
    color: black;
    font-weight: bold;
    padding: 10px;
  }
  .hero-box.hero-center-text {
    font-size: 16px;
    font-weight: 400;
  }

  .hero-top-btn {
    font-size: 16px;
    font-weight: 400;
    background-color: #fff544;
    cursor: pointer;
    padding: 15px 30px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    position: relative;
  }
  .hero-top-btn:hover {
    background-color: #fff644b4;
    color: rgba(0, 0, 0, 0.692);
    transition: 0.3s;
  }

  .hamburger {
    display: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
  }

  .mobile-drawer {
    display: none;
    transition: 0;
  }

  .hero-content {
    padding: 0 5%;
    max-width: 100%;
    margin-top: 450px;
    margin-bottom: auto;
    text-align: left;
  }

  .hero-title {
    font-size: 70px;
    font-weight: 500;
    color: black;
    padding: 5px 15px 5px 0;
    margin-bottom: 20px;
    font-family: Jost, serif;
  }

  .hero-desc-box {
    padding: 20px 20px 20px 0;
    margin-bottom: 20px;
    font-size: 1.1rem;
    line-height: 1.5;
    white-space: normal;
    max-width: 500px;
  }

  .hero-shop-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background-color: black;
    color: white;
    border: none;
    padding: 15px 40px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
  }
  .hero-shop-btn:hover {
    background-color: rgb(37, 37, 37);
    transition: 0.3s;
  }

  .hero-bottom-bar {
    background-color: #f5f5f5;
    text-align: center;
    padding: 15px;
    text-transform: uppercase;
    font-size: 12px;
    width: 100%;
    font-weight: bold;
    letter-spacing: 1px;
    position: relative;
    z-index: 2;
  }

  @media screen and (max-width: 768px) {
    .bg-layer {
      justify-content: flex-end;
    }

    .top-img {
      display: none;
    }

    .bottom-img {
      width: 100%;
      height: 50vh;
      margin-left: 0;
      background-position: center bottom;
      margin-bottom: 45px;
      background-size: contain;
      object-fit: cover;
    }

    .hero-top-bar {
      position: relative;
      flex-wrap: wrap;
      padding: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .hero-top-btn {
      margin-top: 10px;
    }
    .desktop-only {
      display: none !important;
    }

    .hamburger {
      display: block;
      order: 1;
    }

    .hero-box-logo {
      order: 2;
      flex-grow: 1;
      text-align: center;
      padding-right: 40px;
    }

    .mobile-drawer {
      display: none;
      order: 3;
      width: 100%;
      flex-direction: column;
      padding: 10px 0 30px 0;
      background-color: #f5f5f5;
      margin-top: 10px;
      position: absolute;
      top: 0;
      left: 0;
      align-items: center;
      z-index: 99;
    }

    .mobile-drawer.open {
      display: flex;
      top: 68px;
    }

    .hero-content {
      text-align: center;
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      z-index: 2;
      padding: 0 20px;
      width: 100%;
      box-sizing: border-box;
    }

    .hero-title {
      font-size: 2.5rem;
      white-space: normal;
      text-align: center;
    }

    .hero-desc-box {
      background: transparent;
      padding: 0;
      margin-bottom: 200px;
    }
  }
</style>

<script>
  function toggleMenu() {
    var menu = document.getElementById('mobile-menu');
    var icon = document.querySelector('.hamburger');

    if (menu.classList.contains('open')) {
      menu.classList.remove('open');
      icon.innerHTML = '☰';
    } else {
      menu.classList.add('open');
      icon.innerHTML = '✕';
    }
  }
</script>
